@font-face {
	font-family:"Determination Sans Web";
	src:local('../Determination Sans Web'),url('../fonts/DeterminationSansWeb.eot') format("eot"),url('../fonts/DeterminationSansWeb.woff') format("woff"),url('../fonts/DeterminationSansWeb.otf') format("opentype");
}

body {
  background-color:#000;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bold;
  color: white;
  padding-top: 200px;
	font-size:100%;
}

li, ul, p {
  font-size: 20px;
  font-weight:normal;
  color: white;
}

ol {
	list-style: none;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

img, iframe {max-width: 100%;}

button {border-radius: 0px;}

.titulo {
  font-family:"Determination Sans Web", "Comic Sans MS", sans-serif;
  text-align: left;
  font-size: 40px;
  margin-bottom: 40px;
	max-width: 100%;
}

.centra-img {
  text-align:center;
  padding: 20px;
}

.caja {
  border: 5px solid #fff;
  padding: 40px;
  margin:10px;
  margin-bottom: 50px;
}

.monstruo {
	margin-top: 600px;
	margin-bottom: 650px;
}





.menu {
	list-style-type:none;
  padding-top: 200px;
  margin-bottom: 50px;
  text-align: center;
}

.click{}

.Botón1{
    background:url('../images/intro.png') center;
    background-size: 100% 100%;
    border: none;
    width: 300px;
    height: 42px;
    margin-right: 10px;
}

.Botón1:hover{
    background:url('../images/intro_activo.png') center;
}

.Botón2{
    background:url('../images/historia.png') center;
    background-size: 100% 100%;
    border: none;
    width: 168px;
    height: 42px;
    margin-right: 10px;
}

.Botón2:hover{
    background:url('../images/historia_activo.png') center;
}

.Botón3{
    background:url('../images/personajes.png') center;
    background-size: 100% 100%;
    border: none;
    width: 202px;
    height: 42px;
    margin-right: 10px;
}

.Botón3:hover{
    background:url('../images/personajes_activo.png') center;
}

.Botón4{
    background:url('../images/jugabilidad.png') center;
    background-size: 100% 100%;
    border: none;
    width: 216px;
    height: 42px;
    margin-right: 10px;
}

.Botón4:hover{
    background:url('../images/jugabilidad_activo.png') center;
}

.Botón5{
    background:url('../images/desarrollo.png') center;
    background-size: 100% 100%;
    border: none;
    width: 198px;
    height: 42px;
    margin-right: 10px;
}

.Botón5:hover{
    background:url('../images/desarrollo_activo.png') center;
}

.Botón6{
    background:url('../images/lanzamiento.png') center;
    background-size: 100% 100%;
    border: none;
    width: 223px;
    height: 42px;
    margin-right: 10px;
}

.Botón6:hover{
    background:url('../images/lanzamiento_activo.png') center;
}

.Botón7{
    background:url('../images/recepción.png') center;
    background-size: 100% 100%;
    border: none;
    width: 177px;
    height: 42px;
    margin-right: 10px;
}

.Botón7:hover{
    background:url('../images/recepción_activo.png') center;
}

.Botón8{
    background:url('../images/curiosidades.png') center;
    background-size: 100% 100%;
    border: none;
    width: 230px;
    height: 42px;
    margin-right: 10px;
}

.Botón8:hover{
    background:url('../images/curiosidades_activo.png') center;
}

.Botón9{
    background:url('../images/extra.png') center;
    background-size: 100% 100%;
    border: none;
    width: 341px;
    height: 42px;
}

.Botón9:hover{
    background:url('../images/extra_activo.png') center;
}





#contenedor {height: 740px}


.slideshow{
	width: 100%;
	position: relative;
}

.slider li, ol{
	width: 100%;
}

.left, .right{
	position: absolute;
	top: -60px;
	height: 100%;

	display: flex;
	align-items: center;

	color: white;
	font-size: 35px;
	cursor: pointer;
	z-index: 2;
}

.left{
	left: 0px;
}

.right{
	right: 0px;
}





.subir{
  background:url('../images/subir.png') center;
  background-size: 100% 100%;
  border: none;
  width: 146px;
  height: 30px;
  margin-left: 6px;
}

.subir:hover {
    background:url('../images/subir_activo.png') center;
}





.pie {
  border: 5px solid #fff;
  padding: 20px;
  padding-top: 60px;
  margin:10px;
  text-align: center;
}
